.cart-page .item-row .image-container{margin-left:0px;}
.btn-mini{padding-top:5px;padding-bottom:5px;padding-left:8px;padding-right:8px;}

#shopping-cart-btn{
    width:234px;
}


#logo{float:left}
#jsdlogo{float:right}

.thumbnails{margin-left:30px;margin-bottom:30px}
.thumbnails > LI {}

.product-thumb1{width:498px}