



/* General */
body{font-family: 'Pontano Sans',Arial,sans-serif;;color:#666;
background: #ededed;background-attachment: fixed;font-size:16px;}
h1,h2,h3,h4,h5,h6,p{font-family: 'Pontano Sans',Arial,sans-serif;}
h1,h2,h3,h4,h5,h6{margin-bottom:6px}
.container{}

.btn-large{font-size:15px;}



.sans-serif{font-family: 'Pontano Sans',Arial,sans-serif;letter-spacing:0.055em;color:rgb(111, 109, 104)}
.serif{font-family: 'Pontano Sans',Arial,sans-serif;}
.primary-color{color:#f47b44;}
.invert{background:#111;color:#fff}

.right-align{text-align:right}
.cursive {font-family: 'Pontano Sans',Arial,sans-serif;}
a{color:#6F6D68;text-decoration: none;font-size:100%}
a:hover{color:#BBBBBB;text-decoration: none}
.orange{color:#333;background:#f3d4c6}
.orange small{color:#666}
.ffgreen{color:#398515}
.breadcrumb{background:transparent;padding-left:0px;margin-bottom:20px;padding-top:0px}
.breadcrumb > li > a {cursor:pointer}

#input_promocode{ border: 1px solid #BBBBBB;
    font-size: 18px;
    height: 35px;
    margin-left: 0px;
    margin-right: 0px;
    color:#202020;
background:#f9f9f9}
#promo_submit{
    background: #7986A2;

    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7986A2 /*primary color*/), to(#7986A2 /*primary color*/));
    background-image: -webkit-linear-gradient(top, #7986A2 /*primary color*/, #7986A2 /*primary color*/);
    background-image: -o-linear-gradient(top, #7986A2 /*primary color*/, #7986A2 /*primary color*/);
    background-image: linear-gradient(to bottom, #7986A2 /*primary color*/, #7986A2 /*primary color*/);
    background-image: -moz-linear-gradient(top, #7986A2 /*primary color*/, #7986A2 /*primary color*/);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#7986A2 /*primary color*/', endColorstr='#7986A2 /*primary color*/', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    color:#fff;


    box-shadow: none;
    font-size: 18px;

    height: 45px;
    margin-top: 0;}
.navbar .btn, .navbar .btn-group {
    margin-top: 0px;
}
img{-ms-interpolation-mode: bicubic;}
.thumbnails{margin-left:-5px; text-align:center}
.thumbnails > li{padding:5px;margin-bottom:55px; padding-bottom: 0px;margin-left:0px;
    -o-transition:background .1s ease-out, background .2s ease-in,box-shadow .1s ease-out, box-shadow .2s ease-in;
    -ms-transition:background .1s ease-out, background .2s ease-in,box-shadow .1s ease-out, box-shadow .2s ease-in;
    -moz-transition:background .1s ease-out, background .2s ease-in,box-shadow .1s ease-out, box-shadow .2s ease-in;
    -webkit-transition:background .1s ease-out, background .2s ease-in,box-shadow .1s ease-out, box-shadow .2s ease-in;
    transition:background .1s ease-out, background .2s ease-in,box-shadow .1s ease-out, box-shadow .2s ease-in;
    display:inline-block;
    float:none;
}
.thumbnails > li:hover {
    background: #fff;
    -moz-box-shadow: 3px 3px 13px 0px #ccc;
    -webkit-box-shadow: 3px 3px 13px 0px #ccc;
    box-shadow: 3px 3px 13px 0px #CCCCCC;

}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background: #e6e6e6;
    *background: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 0px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
   /* border:solid 1px #fff; */
    /*-moz-box-shadow: 0px 0px 2px #ccc;
    -webkit-box-shadow: 0px 0px 2px #ccc;
    box-shadow: 0 0 0 2px #ccc; */
    color:#4d4d4d;
}

.more-info-btn{margin-top:3px; color:#444;}

.btn-warning {
    color: #868686;
    text-shadow: none;
    background: #ededed /*primary color*/;
    *background: #ededed /*primary color*/;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed /*primary color*/), to(#ededed /*primary color*/));
    background-image: -webkit-linear-gradient(top, #ededed /*primary color*/, #ededed /*primary color*/);
    background-image: -o-linear-gradient(top, #ededed /*primary color*/, #ededed /*primary color*/);
    background-image: linear-gradient(to bottom, #ededed /*primary color*/, #ededed /*primary color*/);
    background-image: -moz-linear-gradient(top, #ededed /*primary color*/, #ededed /*primary color*/);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed /*primary color*/', endColorstr='#ededed /*primary color*/', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    /* -moz-box-shadow: 0px 0px 2px #ededed;
    -webkit-box-shadow: 0px 0px 2px #ededed;
    box-shadow: 0 0 0 2px #ededed /*primary color*/;
    border:solid 1px #fff;
}
.btn-mini{
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 1.1;
    padding-top: 3px;
    padding-bottom:1px;
    text-shadow: none;
    text-transform:uppercase;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active {
    background: #ededed;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    color: #4d4d4d;
    background: #ededed;
    *background: #ededed;
}


.icon-shopping-cart{
    margin-top:-1px;
}

.blockOverlay{
    background: none repeat scroll 0 0 #BBBBBB !important;
    border: medium none;
    cursor: wait;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0.75 !important;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000 !important;
}

.blockOverlay h1{color:#fff}

.blockPage{
    padding:55px !important;
    -moz-box-shadow: 0px 0px 4px #BBBBBB /*primary color*/ !important;
    -webkit-box-shadow: 0px 0px 4px #BBBBBB /*primary color*/ !important;
    box-shadow: 0 0 0 4px #BBBBBB /*primary color*/ !important;
    background: #BBBBBB /*primary color*/ !important;
    *background: #BBBBBB /*primary color*/ !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    border:solid 2px #fff !important;
    z-index:2011 !important;

}
.blockPage h1{color:#fff}
.blockElement h1{color:#fff}
.blockElement{
    background: #BBBBBB !important;
    border-radius: 8px 8px 8px 8px !important;
    color: #fff !important;
    cursor: wait !important;
    left: 78px !important;
    margin: 0;
    padding: 10px !important;
    position: absolute;
    text-align: center;
    top: 41px !important;
    z-index: 2011 !important;
    width: auto !important;
}

.tooltip-inner{text-align:left;}


.page-wrapper{
    margin-top:87px;
    padding-top:0px;
    background:transparent;
}


/* Main Nav Bar */
.logo{margin-right:30px;float:left;margin-left:-8px;width:350px}
.nav{float:left;margin-top:15px;}
.header{
    text-align: center;
    background: transparent;}
.header-bg{
    background: no-repeat center top #000;
}
.header .nav{float:right}
.nav-item{color: #FFFFFF;
    cursor: pointer;
    font-size: 170%;
    letter-spacing: 0.055em;
    line-height: 1.5;
    margin-left: 13px;
    text-transform: uppercase;}
.nav-item a{font-size:100%}
.header .active{font-weight:bold}
.navbar{background:#f9f9f9;margin-bottom:0px;}
.nav-shadow {
    -moz-box-shadow: 0px 12px 13px -13px #ccc;
    -webkit-box-shadow: 0 12px 13px -13px #ccc;
    box-shadow: 0 12px 13px -13px #CCCCCC;
}
.navbar-inner{
    background:#fff;
    background-image: none;
    border: none;
    box-shadow:none;
    filter:none;
}
.navbar-fixed-top .navbar-inner{
    box-shadow:none;
}

/* Todays Brands */
.brand-thumb{margin-top:0px;margin-bottom:30px;}
.brand-tag-enddate{font-size:11px}
.brand-thumb .carousel-caption{color:#999; position:relative; background:#fff;margin-top:2px; padding-left:3px;padding-right:3px;padding-top:9px;padding-bottom:7px;}
.brand-thumb .carousel-caption p{color:#666; text-transform: uppercase; font-size:85%}
.brand-thumb .carousel-caption h4{ text-transform:none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;
    -moz-border-top-colors: none; border-color: #999999; border-image: none; border-style: solid; border-width: 0 0 1px;
    color: #333333; display: inline-block;font-weight: normal; margin-bottom: 0.4em; padding-bottom: 0.35em;
    padding-right: 15px; white-space: nowrap;}
.brand-thumb .carousel-inner .brand-image{width:99.5%; border: 1px solid #DDDDDD;cursor:pointer;
    -o-transition:border .1s ease-out, border .2s ease-in;
    -ms-transition:border .1s ease-out, border .2s ease-in;
    -moz-transition:border .1s ease-out, border .2s ease-in;
    -webkit-transition:border .1s ease-out, border .2s ease-in;
    transition:border .1s ease-out, border .2s ease-in;
}
.brand-thumb .carousel-inner .carousel-caption{
    -o-transition:background .1s ease-out, background .2s ease-in,box-shadow .1s ease-out, box-shadow .2s ease-in;
    -ms-transition:background .1s ease-out, background .2s ease-in,box-shadow .1s ease-out, box-shadow .2s ease-in;
    -moz-transition:background .1s ease-out, background .2s ease-in,box-shadow .1s ease-out, box-shadow .2s ease-in;
    -webkit-transition:background .1s ease-out, background .2s ease-in,box-shadow .1s ease-out, box-shadow .2s ease-in;
    transition:background .1s ease-out, background .2s ease-in,box-shadow .1s ease-out, box-shadow .2s ease-in;
}

.brand-thumb .carousel-inner:hover .carousel-caption{background: #efefef;   -moz-box-shadow: 3px 3px 13px 0px #ccc;
    -webkit-box-shadow: 3px 3px 13px 0px #ccc;
    box-shadow: 3px 3px 13px 0px #CCCCCC;
}
.brand-thumb .carousel-inner:hover .brand-image{border: 1px solid #aaa;}
.brand-thumb .carousel-inner .shopbtn{width:auto;text-align:right;}

.email-signup{
    border-radius: 8px 8px 8px 8px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 14px;
    width: 300px
}

/* Todays Products adn Brand page */

.products-page{text-align: left;background:#fff;}
.products-page h1{font-size:35px; color:#3a3a3a; font-weight:normal;margin-bottom: 0px;}
.products-page h2{font-size: 16px;
font-style: italic;
font-weight: normal; font-family:serif;line-height:1}
.products-page .title{margin-bottom:15px;color:#fff; background:#a5a1a1;padding-top:0px;padding-bottom:0px;margin-left:-20px;margin-right:-20px}
.products-page .title h1{color:#fff; font-size:53px;font-family:'serif'; margin-top:0px; line-height:normal}
.products-page p{padding:0px; margin:0px auto; }
.produts-page h4{font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;}
.brand-header{padding-bottom:25px;margin-bottom:10px;}
.brand-header .brand-title{border-top:8px solid #f3d4c6;border-bottom:1px solid #f3d4c6}
.brand-header .separator {border-bottom:1px solid #eee; margin-top:8px}
.brand-header .left{padding-left:0px;}
.brand-header .right{padding-right:17px;}
.brand-header .right p{float:right;padding-top:18px;padding-bottom:0;padding-left:0;padding-right:0;}
.brand-header .about{margin-top:17px;}
.brand-header .about img{margin-right:25px; width:223px}
.about p{padding:0px}

.product-grid-row{margin-bottom:55px;}
.product-grid-row .product-title{font-size:15px; line-height:21px; margin:0px; padding:0px;}
.product-grid-row .product-priceline{font-size:14px; line-height:21px; margin:0px; padding:0px;margin-bottom:3px}
.product-grid-row .product-priceline .sale-price{font-weight:bold; color: #CC0000;font-size: 21px;margin-bottom: 23px;}
.product-grid-row .thumbnails li{cursor: pointer;}
.product-grid-row .thumbnail{border:none; padding:0;box-shadow:none}
.product-grid-row .thumbnail img{margin-left:0px;border: 1px solid #ddd;margin-bottom:4px;}
.regular-price{text-decoration: line-through; color:#666; font-size: 17px;margin-top:3px}
.thumbnail{ position:relative;
border: 3px solid #FFFFFF;
border-radius: 0px;
-moz-border-radius:0px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
padding:2px;
height:380px;
}
.under-thumbnail{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 7px solid #F1EFF0;
    margin-top: 10px;
    padding: 10px;
    text-align:left;
}
.product-thumb1{vertical-align:top;}
.product-title{color: #4C4B4B;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: center;}
.product-thumb1 {
    width: 540px;
}
.product-thumb1 img{}
.other-brands .brand-title{padding-top:5px;}
.other-brands .span3{cursor:pointer}

/*Product page */
.product-page{}
.product-page h4{font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;}
.product-page .main-row{position:relative; min-height:502px}
.main-image-container{height:500px; border: 1px solid #DDDDDD;text-align: center; margin-right:-2px;padding-bottom:10px;padding-left:5px;padding-right:5px;padding-top:5px;}
.main-image-container img{}
.main-product-info-container{font-family:Arial,Arial,Helvetica,sans-serif;}
.main-product-info-container p{font-family:inherit;font-size:12px;line-height:1.2;margin-bottom:4px;padding-top:2px;}
.product-name{text-transform: none; font-size:27px;}
.brand-name{font-family:inherit; color: #999999;font-size: 17px;letter-spacing: 0.03em;margin: 1px 0 10px;text-transform: uppercase;word-spacing: 2px;padding-bottom:45px;}
.product-page .sale-price{font-family: inherit;font-size: 42px;letter-spacing: 0.03px;padding-bottom: 13px;}
.retail-price{font-family:inherit; text-decoration:line-through; font-size:19px;padding-bottom:12px}
.sale-price{ color: #CC0000;
    font-size: 23px;
    line-height: 1;
    margin-bottom: 4px;
    margin-top:3px;
    pointer-events: none}
.product-page .separator{border: 0 none; border-bottom: 1px solid #CCC;display: block; height: 1px; margin-bottom: 4px; text-align: left; width: 20px;}
.product-page .quantity label{margin-bottom:0px; display:inline}
.product-page .quantity input{width:35px; margin-bottom:0px}
.product-page .add-btn-container{margin-top:7px}
.main-product-info-container .bottom-content{position:absolute; bottom:25px; right:0; overflow:hidden}

.secondary-images{text-align:left;}
.secondary-images img{cursor:pointer; padding:5px;}
.secondary-images .active{border:1px solid #ddd;border-top:1px solid #fff;margin-top:-1px;z-index:1000;}

.product-page .second-row{margin-top:15px}
.product-page .about{font-style:italic;color:#6F6D68}
.product-meta{margin-left:30px}
.product-page .product-meta h3 {font-size: 11px;letter-spacing: 2px; padding-bottom: 6px; text-transform: uppercase; line-height:1;margin-top:0px; font-weight:bold; font-family:inherit}
.product-meta dt, .product-meta dt {clear: left;font-weight: bold;width: 100px;line-height:inherit}
.product-meta dt, .product-meta dd {border-top: 1px dotted #CCCCCC;float: left;padding: 6px 0;}
.product-meta dd{width: 198px;margin-left:0px;line-height:inherit}
.product-meta dl{letter-spacing:.035em;font-size:13px;line-height:1.2}
.product-page .enddate{font-size:12px;font-weight:bold;letter-spacing: 0.035em;color:#333;font-style:italic}
.product-page .enddatedivider{border-bottom: 1px solid #CCCCCC;clear: both;margin-bottom: 10px;padding-top: 15px;width: 300px;}
.zoom-enabled p {position: absolute; top: 3px; right: 28px; color: #555; font: normal 13px/1 sans-serif;}
.zoomIcon{text-align:left; pointer-events:none; width: 57px;height: 33px; position: absolute; top: 0; right: 0; background: url(../images/zoomicon.png) no-repeat right 0;}

#added-to-cart-notification{font-size: 18px;left: 50%;margin-left: -200px;margin-top: -25px;padding: 24px;position: absolute;
    text-align: center;top: 50%;width: 400px;display:none;

    -moz-box-shadow: 0px 0px 4px #BBBBBB /*primary color*/;
    -webkit-box-shadow: 0px 0px 4px #BBBBBB /*primary color*/;
    box-shadow: 0 0 0 4px #BBBBBB /*primary color*/;
    background: #BBBBBB /*primary color*/;
    *background: #BBBBBB /*primary color*/;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border:solid 2px #fff;

}
#added-to-cart-notification h2{color:#fff}
#added-to-cart-notification p{margin:0px;}

.soldout-mini{
    box-shadow: 0 0 0 2px #CC0000;
    font-size: 14px;
    font-weight: bold;
}
.soldout-mini.disabled, .soldout-mini[disabled] {
    color: #ffffff;
    background: #ba0000;
    *background: #ba0000;
    box-shadow: 0 0 0 2px #CC0000;
    border: 1px solid #fff;
    opacity:1;

}

.onhold-mini.disabled{
    color: #ffffff;
    background: #444;
    *background: #444;
    box-shadow: 0 0 0 2px #444;
    border: 1px solid #fff;
    opacity:1;
}


/* Cart Page */
.cart-page{}
.cart-page .header-row{margin-top:25px;margin-bottom:35px;}
.cart-page h1{text-transform: none; font-size:23px;letter-spacing:1px; color:#6F6D68}
.cart-page .item-row {font-family:Arial,Arial,Helvetica,sans-serif;}
.cart-page .item-row .image-container{border:1px solid #aaa; margin-right:-4px;text-align:center;}
.cart-page .item-row .image-container img{max-height:150px;}
.cart-page .item-row input{margin:0px;}
.cart-page .item-row .main-info{padding-bottom:11px;margin-bottom:3px;border-bottom:dotted 1px #ddd;line-height:2}
.cart-page h2{font-size:14px;font-family:inherit;font-weight:bold;margin:0px;padding:0px;text-transform:none;line-height:2}
.cart-page .item-row .product-name{line-height:1.5}
.cart-page .item-row h3{font-size:12px;font-family:inherit;text-transform:uppercase;color:#ccc;line-height:1;margin:0px;padding:0px}
.cart-page .item-row .secondary-info{font-size:12px;}
.cart-page .separator{ border-bottom:1px solid #aaa; padding-bottom:21px; margin-bottom:21px;clear:both;}
.cart-page table{border:none;font-size:12px;}
.cart-page .table th, .table td{text-align:right}
.cart-table td{vertical-align: middle}
.cart-page .footer-row{margin-top:25px;margin-bottom:35px;}
.alert .label {margin-bottom:1px;}
.cart-page .cart-value{text-align:right}
.cart-summary{float:none;margin-left:0px; width:210px}
.select-state-combo{width:325px;float:right;margin-top: -4px;font-size:14px}

/* footer
.footer{text-align:left;padding-bottom:45px;padding-top:30px; font-size:85%;background: #cbc8c8; color:#4c4c4c }
.footer .container{background:transparent}
.footer a{text-decoration: none; color:inherit; cursor:pointer}
.footer a:hover{text-decoration:underline; color:inherit}
.footer a:visited{color:inherit}
.footer ul{margin-left:0px;}
.footer ul, .footer li{display:inline}
.footer li{margin-left:8px;margin-right:8px;}
*/
.footer{padding-bottom:55px}
.copyright{padding-top:1px;font-size:75%}


.fbpfet .fbpfnb{ top: 0px !important;}


.description{font-size: 12px;
    margin-bottom: 0px;
    overflow-y: auto;
    padding: 0px;
    text-align: center; background: #fff;
    padding-bottom:10px
}
.description h3{ font-size: 18px;
    line-height: normal;
    margin-bottom: 3px;
    padding-bottom: 0;}
.description p{font-size:12px;text-align:left}
.description ul{ text-align:left; margin-top:8px}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0px;
}
label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
   /* height:23px; */
}

select, input[type="file"] {
    height: 25px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    /*font-size:20px;*/
}

.splash-container{
    background: none repeat scroll 0 0 transparent;
    margin-top: -104px;
    text-align: center;
}
.splash-wall-container{
    background: url("../images/specific/splash.jpg?cb=11920") no-repeat scroll 0 20px transparent;
    height: 800px;
    margin-top: 0px;
    padding-top: 0px;
    width: 1100px;
    position:relative;
}
.splash-entry-code{
    left: 644px;
    position: absolute;
    text-align: center;
    top: 298px;
    width: 388px;
}

.color-container{
    height:83px;
}
.coloroption{
    cursor:pointer;
}
.selectedcoloroption{
    border:1px solid #ddd;
    cursor:default;
    pointer-events:none;
}
.size-container{width:175px; height:54px;}
.sizeoption{
    border:1px solid #DDD;
    padding:4px;
    cursor:pointer;
    display:inline-block;
    zoom:1;
    margin-bottom:3px;
    line-height:1;
}
.selectedsizeoption{
    border:1px solid #666;
    background:#ccc;
    cursor:default;
    pointer-events:none;
}

.sizechart{
    color:#da1715;
    text-transform:uppercase;
}

.seperator{
    border-bottom:1px solid #bbb;
    text-align:center;
    margin-bottom: 38px;
    margin-top: 29px;
}

.section h1 > em{display: block}
.section-header{text-align:center}
.section-description p{text-align:center; margin-bottom:20px !important; padding-left:74px;padding-right:74px;margin-top:9px}
.section-description ul > li{line-height:1.4}
.section-info{font-size: 17px;
    font-size: 100%;
    line-height: 26px;
    margin: 0 auto 22px;
    text-transform: none;
    width: 862px;
    text-transform:none;
}

#myCarousel{
    width:1050px;
    margin-left:8px;
}

.bio p{margin-bottom:10px}
.bio h1{margin-bottom:10px;}

.ymal{
    margin-top:50px;
    margin-bottom:50px;
    padding-top:29px;
    padding-bottom:40px;
    border-top:1px solid #ddd;
    text-align:center;
    font-size:41px;
}

.checkout-page select, .checkout-page input[type="file"]{
    height:inherit;
    font-size:inherit;
}

input.error{
    border:1px solid #B94A48
}
label.error{
    background: #F2DEDE;
    color:#B94A48;
    font-size:10px;
    margin-top:-9px;
    padding-left:5px;
}

.cc-icon{
    width:37px;
}

.page-layout{
    padding-left:15px;
    padding-right:15px;
    -moz-box-shadow:  0 0 13px 4px #DDDDDD;
    -webkit-box-shadow:  0 0 13px 4px #DDDDDD;
    box-shadow: 0 0 13px 4px #DDDDDD;
    background:#fff;
}


/** Commonly Modified
 These may be defined previously in the document are listed here to override
 */
.accent{color:#525248}
.red{color:#d04a1b}
.splash-entry-code{ left: 729px;
    top: 337px;
    width: 312px;}
.page-wrapper{ margin-top:110px;}
.thumbnail{ height:480px; }